$headingfont : 'Mulish', sans-serif;
$textfont :  'Nunito', sans-serif;
$defaultcolor: #0faecb;

/* menu css */

.main-menu {
    .navbar{
            background-color: black;
            padding: 10px 40px 10px 40px ;
            }
            .navbar-brand {
                img {
                    width: 24%;
                    height: auto;
                }
            }
    .navbar-collapse {
        flex-flow: row-reverse;
    }
    .nav-link {
        color: #ffff;
        font-family: $textfont;
        font-size: 15px;
        font-weight: 700;
        text-transform: capitalize;
    }
}

/* slider css */
.carousel-caption {
    top: 35%;
    h2 {
        font-size: 70px;
        font-weight: 700;
        line-height: 80px;
        font-family: Bitter;
        color: #000;
    }
    button {
        background-color: #000;
        color: #ffff;
        border: 2px solid $defaultcolor;
        border-radius: 15px;
        width: 170px;
        height: 54px;
        font-family: $textfont;
        font-size: 15px;
        font-weight: 700;
    }
    button:hover {
        background-color: #fff;
        color: #000;
        border: 2px solid #fff;
    }
}

/* jrny css */

.jrny {
    background-color: #F0F2F8;
    padding: 90px 0 390px 0;
    background-image: url("../images/line.png") ;
    h2 {
    color: #1C213E;
    margin: 0 0 15px 0;
    font-size: 3vw;
    font-weight: 900;
    line-height: 50px;
    }
    p {
    color: #757781;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.444444em;
    margin: 0 0 0 0;
    }
    button {
        padding: 13px 30px 13px 30px;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        color: $defaultcolor;
        background-color: rgba(2,1,1,0);
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-color: $defaultcolor;
        border-radius: 0 0 0 0;
       margin-top: 35px;
       float: right;
    }
    button:hover {
        background-color: $defaultcolor;
        border-color: $defaultcolor;
    }

    .flex-container {
        display: flex;
        h3 {
            margin: 10px 0 0 0;
            padding: 0 0 0 0;
            font-size: 20px;
            font-weight: 700;
            line-height: 25px;
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-top: 10px;
        }
        p:hover{
            color: #fff;
        }
      }
      .flex-container > div {
        background-color: #ffff;
        padding: 40px 30px 40px 30px;
        border-style: solid;
        border-width: 3px 0 0 0;
        border-color: rgba(2,1,1,0);
        border-radius: 0 0 0 0;
        justify-content: space-between;
        margin: 10px;
      }
      .flex-container > div:hover {
        background-color: $defaultcolor;
        color: #fff !important;
        border-style: solid;
        border-width: 3px 0 0 0;
        border-color: $defaultcolor;
        border-radius: 5px 5px 5px 5px;
        transform: translateY(-8px);
      }

}

/* idea css */
.idea {

    padding-bottom: 120px;
    
}
.full-box {
    margin-top: -230px;
    box-shadow: 0 40px 60px 0 #cfccca;
}
.img-box {
    background-image: url("../images/section-image.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.idea-box {
    background-color: $defaultcolor;
    color: #fff;
    padding: 60px 65px 60px 60px;
    h2 {
        margin: 0 0 0 0;
        font-size: 39px;
        font-weight: 900;
        line-height: 50px;
        font-family: $headingfont;
    }
    p {
        font-size: 21px;
        font-weight: 400;
        line-height: 1.6666667em;
        margin: 16px 0 18px 0;
        font-family: $textfont;
    }
}

/* Accordon css */

.accordion-sec {
    padding: 90px 0px 90px 0px;
    h2 {
        color: #1C213E;
        font-size: 40px;
        font-weight: 900;
        line-height: 50px;
        font-family: $headingfont;
    }
    i {
    font-size: 26px;
    background-color: $defaultcolor !important;
    color: #fff;
    width: 35px;
    height: 30px;
    padding: 3px;
    }
    button {
    font-family: $headingfont;
    font-size: 18px;
    font-weight: 800;
    line-height: 23px;
    color: #1C213E;
    text-decoration: none !important;
    }
    span {
        margin-left: 20px;
        margin-top: -10px;
    }
    p {
        margin-left: 50px;
        width: 90%;
    }
   .card {
       border: 0px solid !important;
    }
    .card-header {
        background-color: #fff !important;
        border-bottom: none !important;
    }
    .deafault-btn {
        padding: 13px 30px 13px 30px;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        color: $defaultcolor;
        background-color: rgba(2,1,1,0);
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-color: $defaultcolor;
        border-radius: 0 0 0 0;
       margin-top: 35px;
       text-align: center;
    }
    .deafault-btn:hover {
        background-color: $defaultcolor;
        border-color: $defaultcolor;
        color: #fff;
    }
}

/* technology css */

.technology {
    padding: 90px 0px 90px 0px;
    background-color: #F2F5FE;
    h2{
        font-size: 40px;
        font-weight: 700;
        font-family: $headingfont;
        color: #000;
    }
    p{
    color: #757781;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    }
    .tech-box {
        margin-top: 30px;
        padding-bottom: 30px;
        h2{
            color: #1C213E; 
            font-size: 28px;
            font-weight: 800;
            line-height: 25px;
            font-family: $headingfont;
            text-align: center;
        }
    }
    .tech-box:hover {
        background-color: #FFF;
        box-shadow: 0 30px 30px 0 #cfccca;
        border-top: 3px solid;
        border-color: $defaultcolor;
        padding-bottom: 30px;
    }
}